.top {
    display: flex;
    justify-content: space-between;
}

.body {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 507px) {

    /* .css-1v5z4dq-MuiPaper-root-MuiCard-root {
        min-width: 10rem;
    } */
}