.App {
  text-align: center;
}

.stats-app{
  display: flex;
  justify-content: space-between;
  margin: 5rem;
}

@media only screen and (max-width: 1197px) {
  .stats-app {
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .stats-app>*{
    margin: 2rem;
  }
}

@media only screen and (max-width: 663px) {
   .App{
    overflow: hidden;
   }
}




